* {
	margin:0;
	padding:0;
	outline:none;
	border:none;
	vertical-align:baseline;
	}

.carousel {
	position:relative;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */ 
	flex-wrap: wrap;
	margin:100px;
	border:0px solid;

	.item {
		-webkit-flex-basis:25%; /* Safari 6.1+ */
		flex-basis:20%;
		height:300px;
		overflow:hidden;

		img {
			max-width:100%;
			height:auto;
			}
	}
}

.bubble-fog {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display:none;
	background-color:rgba(0,0,0,0.8);
}

.bubble-box {
	position:relative;
	top:5%;
	display:flex;
	height: 90%;

	justify-content: center;
	align-items: center;


	img {
		max-width:100%;
		max-height:100%;
	}
}

.bubble-next,
.bubble-prev {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	width:50px;
	cursor:default;

	&:hover {
		background:rgba(50,50,50,0.5);

		&:before {
			display: block;
		}
	}

	&.active:hover {
		background:rgba(0,0,0,0.5);
		cursor:pointer;

		&:before {color:#FFF;}

	}

	&:before {
		content:'>';
		position:absolute;
		top:50%;
		display: none;
		width:100%;
		text-align:center;
		font-weight:bold;
		color:#555;
	}
}

.bubble-prev {
	right:auto;
	left:0;

	&:before {
		content:'<';
	}
}
